* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark;
    color: $white;
    font-family: sans-serif, Arial, Geneva;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

div {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

button {
    background-color: $blue;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .250s ease;

    &:hover {
        background-color: darken($blue, 20%);
    }
}